.compat-item {
    .acf-postbox {
        margin-top: 10px;
        width: 100%;
    }

    .acf-field {
        display: block;
        overflow: hidden;
        float: none;
        width: auto;
        margin: 0;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
    }

    .acf-label {
        margin-bottom: 0;
        min-width: 20%;
        float: left;
        min-height: 22px;
        padding-top: 5px;
        line-height: 16px;
        text-align: right;

        label {
            font-size: 12px;
            font-weight: normal;
            margin-bottom: 0;
            color: #666;
        }
    }

    .acf-input {
        min-width: 77%;
        width: 65%;
        float: right;
        margin: 1px;
    }

    @media screen and (max-width: 900px) {
        .acf-postbox {
            margin-top: 5px;
        }

        .acf-label {
            width: 98%;
            float: none;
            text-align: left;
            min-height: 0;
            padding: 0;
        }

        .acf-input {
            float: none;
            width: 98%;
            max-width: none;
            height: auto;
        }
    }
}
